.o2c-team{
  --team-element-padding: 36px;
  --team-min-height: 730px;
  --team-carousel-item-height: 560px;
  --team-carousel-item-padding: 5px;
  --team-carousel-item-info-position: 20px;
  --team-worker-name-font-size: 24px;
  --team-worker-grade-font-size: inherit;
  --team-action-button-max-width: 350px;
  --team-description-margin-bottom: var(--team-element-padding);

  min-height: var(--team-min-height);

  &__wrapper{
    display: grid;
    width: 100%;
    gap: var(--team-element-padding);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "info carousel carousel";
  }

  &__info{
    grid-area: info;
    width: 95%;
    display: flex;
    flex-direction: column;
    max-height: var(--team-carousel-item-height);
  }

  &__header{
    display: flex;
    justify-content: space-between;
  }

  &__buttons{
    display: flex;
    gap: 16px;
  }
  
  &__desktop-description{
    margin-top: auto;
  }

  &__description{
    margin-bottom: var(--team-description-margin-bottom);
  }

  &__action-button{
    color: var(--color-blue-secondary);
    max-width: var(--team-action-button-max-width);

    --button-border-color: var(--color-blue-secondary);
    --button-background-color-hover: var(--color-blue-generic);
  }

  &__carousel-wrapper{
    grid-area: carousel;
    width: 100%;
  }


  &__carousel-button{
    --carousel-arrow-border-color: var(--color-blue-secondary);
    --carousel-arrow-background-color-hover: var(--color-blue-generic);

    color: var(--color-blue-secondary)
  }

  &__carousel-item-container{
    color: var(--color-white);
    height: var(--team-carousel-item-height);
    padding: 0 var(--team-carousel-item-padding);
    position: relative;

    &::before{
      content: "";
      position: absolute;
      display: block;
      top: 0;
      left: var(--team-carousel-item-padding);
      width: calc(100% - 2 * var(--team-carousel-item-padding));
      height: 100%;
      background: linear-gradient(0deg, rgb(0 26 49 / 70%) 0%, rgb(0 26 49 / 0%) 50%);
      z-index: 1;
    }
  }

  &__carousel-item-image{
    width: 100%;
    object-fit: cover;
    height: 100%;
  }

  &__carousel-item-info{
    position: absolute;
    z-index: 2;
    bottom: var(--team-carousel-item-info-position);
    left: calc(var(--team-carousel-item-info-position) + var(--team-carousel-item-padding));
  }

  &__worker-name{
    font-size: var(--team-worker-name-font-size);
    color: var(--color-white)
  }

  &__worker-grade{
    font-size: var(--team-worker-grade-font-size);
    opacity: 0.8;
  }

  &__mobile-description{
    display: none;
  }
}

@media (width <=1100px){
  .o2c-team{
    --team-carousel-item-height: 450px;

    &__wrapper{
      display: flex;
      flex-wrap: wrap;
    }

    &__desktop-description{
      display: none;
    }

    &__mobile-description{
      display: block;
    }

    &__carousel-item-container{
      color: var(--color-white);
      height: var(--team-carousel-item-height);
      padding: 0 var(--team-carousel-item-padding);
      position: relative;
  
      &::before{
        display: none;
      }
    }

    &__action-button{
      width: 100%;
      margin: 0 auto;
    }

    .slick-slide{
      position: relative;
  
      &::before{
        content: "";
        position: absolute;
        display: block;
        top: 0;
        left: var(--team-carousel-item-padding);
        width: calc(100% - 2 * var(--team-carousel-item-padding));
        height: 100%;
        background: linear-gradient(0deg, rgb(0 26 49 / 70%) 0%, rgb(0 26 49 / 0%) 50%);
        z-index: 1;
      }
    }
  }
}

@media (width <= 700px){
  .o2c-team{
    --team-carousel-item-padding: 0px;
    --team-worker-grade-font-size: 14px;
    --team-worker-name-font-size: 20px;
    --team-action-button-max-width: 100%;
    --team-description-margin-bottom: 20px;
  }
}