@font-face {
  font-family: Involve;
  src: url('/fonts/involve/Involve-SemiBold.woff2') format('woff2'),
      url('/fonts/involve/Involve-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Raleway;
  src: url('/fonts/raleway/Raleway-Medium.woff2') format('woff2'),
      url('/fonts/raleway/Raleway-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Raleway;
  src: url('/fonts/raleway/Raleway-Regular.woff2') format('woff2'),
      url('/fonts/raleway/Raleway-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
