:root{
  --color-white: #fff;
  --color-text-primary: #000;
  --color-blue-primary: #0D3356;
  --color-line-generic-light: rgb(256 256 256 / 25%);
  --color-line-generic-dark: rgb(0 0 0 / 10%);
  --color-blue-secondary: rgb(0 74 143 / 100%);
  --color-blue-generic: rgb(0 74 143 / 10%);
  --color-background-generic: #dbdbdb;
  --color-base-background: var(--color-white);
  --color-base-background-hover: var(--color-background-generic);
}